.body {
    min-width: 2500px;
}

.full-time-report {
    background-image: url("horses.png");
}

.horse {
    position: absolute;
    display: block;
    top: 46em;
    width: 60%;
    margin: auto;
    left: -2em;
    text-align: center;
    opacity: 0.1;
}


/* header */

.full-time-header {
    position: relative;
    display: block;
    width: auto;
    height: 200px;
}

.full-time-title {
    position: absolute;
    top: 20%;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 48px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: #272933;
}

.fulltime-form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: relative;
}

.white-background {
    width: 800px;
    min-height: 900px;
    position: relative;
    margin: 0 auto;
    background-color: #f0f5ff;
    border: 2px solid #BD9DEA;
}


/* buttons */

.button-container {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: -8em;
}

.back-button {
    background-color: #BD9DEA;
    box-shadow: inset 0px 0px 3px#a287c9;
}

.home-button {
    background-color: #A0D2EB;
    box-shadow: inset 0px 0px 3px #8cb8ce;
}

.home-button,
.back-button {
    border: none;
    border-radius: 10px;
    top: -1.2em;
    position: relative;
    color: #3e4150;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin: 10px;
}

.back-button:hover {
    background-color: #7A77B9;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.103), 0 3px 10px 0 rgba(0, 0, 0, 0.096);
}

.home-button:hover {
    background-color: #1f4d8a;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.103), 0 3px 10px 0 rgba(0, 0, 0, 0.096);
}

.back-button:active {
    background-color: #298dff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 2px 0 rgba(0, 0, 0, 0.089);
}

.home-button:active {
    background-color: #29ff9b;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 2px 0 rgba(0, 0, 0, 0.089);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* inline form */


/* drop down list for i.e. staff name */

.label-element {
    position: relative;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.input-element {
    position: relative;
    height: 40px;
    padding: 10px;
    vertical-align: middle;
    margin: 5px 10px 5px 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin: 5px auto;
    width: 200px;
    outline: none;
    box-shadow: inset 0px 0px 3px#d6dce7;
}

* {
    box-sizing: border-box;
}

.form-inline {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    width: 100%;
}

#name_select_reminder {
    position: absolute;
    top: -0.8em;
    left: 10em;
    font-size: 14px;
    color: #EA7186;
    font-family: 'Trebuchet MS', sans-serif;
}

.labelBar {
    position: absolute;
    width: 400px;
    height: 100px;
}

.line_below_form_inline {
    width: 80%;
    top: 65px;
    background-color: #E5EAF5;
    position: relative;
    height: 1px;
    border: none;
}

.output_hours {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* add minus button for time range container */

.add_minus_button {
    position: absolute;
    text-align: right;
    width: 10px;
    right: 3em;
    top: 3.3em;
}

.add_button,
.delete_button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: inset 0px 0px 5px#d6dce7;
    cursor: pointer;
    outline: none;
}

.delete_button:disabled,
.add_button:disabled {
    cursor: not-allowed;
}

.delete_button :enabled :hover,
.add_button :enabled :hover {
    background-color: #f4f7fd;
}

.add_minus_button :enabled:active {
    background-color: #ffffff;
    color: #BD9DEA;
}


/* worktime-range */

.time-range-container {
    height: 180px;
    margin-top: 100px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.purple_background {
    position: relative;
    background-color: #ffffff;
    min-height: 100px;
    width: 85%;
    bottom: 1.5em;
    left: 3.5em;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px#d6dce7;
}

.time-range-title {
    top: -1em;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #272933;
    height: 70px;
}

.time-range-display {
    position: absolute;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    color: #cbcdd1;
    padding: 3px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 120px;
    top: 0.5em;
}

.selected_worktime {
    position: relative;
    font-size: 14px;
    top: -0.5em;
    color: #EA7186;
    padding: 3px;
    border-radius: 6px;
}

.purple_background .time-range {
    position: relative;
    width: 280px;
    height: 5em;
    padding-top: 1.5em;
}

.purple_background .time-range p {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #333;
    position: relative;
    top: 4em;
}


/* job selector :general position determination*/

.job_selector {
    position: relative;
    width: 100%;
}


/* specific hours of each type of work*/

.worktype_row_container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.job-select-title {
    text-align: center;
    font-size: 28px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #272933;
    position: relative;
    top: 2em;
}

#job_reminder {
    font-size: 14px;
    position: relative;
    top: -0.5em;
}

.worktype1 {
    margin-left: 6em;
    position: relative;
    width: 620px;
    margin-top: 0;
    margin-bottom: 0;
    top: 7em;
}

.worktype_hour_slider {
    position: relative;
    float: left;
    width: 250px;
    height: 130px;
    margin-right: 40px;
    display: none;
    margin-left: 10px;
}


/* multi-selector */

.worktype_hour_slider label {
    display: block;
    height: 40px;
    font-size: 18px;
    font-family: 'Trebuchet MS', sans-serif;
}

.job_selector {
    position: relative;
    top: 90px;
}


/* grids */

.top_grid {
    padding-left: 20px;
    padding-top: 30px;
}


/* job notes */

.job_notes {
    position: relative;
    top: 5em;
}

.job_notes_title {
    text-align: center;
    font-size: 28px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #272933;
    position: relative;
    top: 1em;
    padding-bottom: 50px;
}

.note-box {
    position: relative;
    text-align: center;
    padding-bottom: 50px;
}

.note-input {
    width: 70%;
    height: 60px;
    border: none;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px#d6dce7;
    font-size: 16px;
    outline: none;
    text-overflow: ellipsis;
}

.note-input :hover {
    box-shadow: inset 0px 0px 5px#b0b6c2;
}


/* payroll_complete check */

.payroll_complete_check {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 2em;
}

.payroll_text {
    position: relative;
}

.payroll_complete_check {
    position: relative;
}

.payroll_complete_check input {
    position: relative;
    width: 20px;
    height: 20px;
    top: 0.4em;
    border: 1px solid #1e5180;
}


/*check pay period button*/

.check_pay_period{
  text-align: center;
  height: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.payPeriod{
  border: none;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px 25px;
  color: black;
  outline: none;
  background-color: #f3a32b;
  box-shadow: inset 0px 0px 3px #e48f11;

}

/* submit and cancel */

.submit_and_cancel {
    text-align: center;
    height: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 20px;
}

.submit,
.cancel{
    border: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 35px;
    margin: 10px;
    color: black;
    outline: none;
}

.submit {
    background-color: #8beb93;
    box-shadow: inset 0px 0px 3px #78b37b;
}

.cancel {
    background-color: #e77588;
    box-shadow: inset 0px 0px 3px #944250;
}

.submit:hover,
.cancel:hover,
.payPeriod:hover {
    cursor: pointer;
    color: white;
}

.submit:hover {
    background-color: #28a82e;
    box-shadow: inset 0px 0px 3px #396b3b;
}

.cancel:hover {
    background-color: #862e3d;
    box-shadow: inset 0px 0px 3px #55141f;
}

.payPeriod:hover{
  background-color: #945e0e;
  box-shadow: inset 0px 0px 3px #6d450a;

}

.submit:active,
.cancel:active {
    color: black;
    transform: scale(0.9);
    box-shadow: none;
}

.submit:active {
    background-color: rgb(218, 255, 221);
}

.cancel:active {
    background-color: rgb(255, 218, 218);
}

/* full-time.php */
/* submit another shift */

/* full-time.php */
/* submit another shift */


.submit_another_container {
  position: relative;
  display: flex;
  justify-content: center;
  top:3em;
  padding-bottom: 30px;
}

.submit_another {
  background-color: #BD9DEA;
  box-shadow: inset 0px 0px 3px#a287c9;
}

.view_hours {
  background-color: #A0D2EB;
  box-shadow: inset 0px 0px 3px #8cb8ce;
}

.submit_another,
.view_hours {
  border: none;
  border-radius: 10px;
  top: -1.2em;
  position: relative;
  color: #3e4150;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  margin: 10px;
  width:250px;
}

.submit_another:hover {
  background-color: #7A77B9;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.103), 0 3px 10px 0 rgba(0, 0, 0, 0.096);
}

.view_hours:hover {
  background-color: #1f4d8a;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.103), 0 3px 10px 0 rgba(0, 0, 0, 0.096);
}

.submit_another:active {
  background-color: #298dff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 2px 0 rgba(0, 0, 0, 0.089);
}

.view_hours:active {
  background-color: #29ff9b;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 2px 0 rgba(0, 0, 0, 0.089);
}


.submit_background{
  width:800px;
  min-height:100px;
  position:relative;
  margin: 0 auto;
  background-color:#f0f5ff;
  border: 2px solid #BD9DEA;
}

.submitted_date_and_hours{

  text-align:center;
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 30%;
  position:relative;
  text-align:center;
  top:0;
  padding-top: 10px;
  

}

.submitted_date,.submitted_hours_title{

  font-size:20px;
}

.submitted_hours_title{

  color:#414141;
}

.submitted_hours{

  font-size:56px;
  color:#845BB3;
  
  
}

/* pay period table */

/* today's date displayer */
.today_date{
  padding-top:30px;
  padding-bottom:30px;
  display:grid;
  grid-template-columns: 50% 50%;
  align-items: start;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 25px;
  background-color:#d0b5f7;

}

.dates_{
    text-align: center;
    padding-left: 20px;
    margin-right: 80px;
    margin-left: 80px;
    padding: 10px;
    /* background-color:#f0f5ff; */
    background-image: url('hor.png');
    border-radius: 10px;
    
}

.the_date{
  font-size: 35px;
}

/* pay period table*/

.pay_table{
  text-align: center;
  top: 1em;
  padding-top: 50px;
  padding-bottom: 50px;

}

.pay_table_fill{
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 50px;
  margin: auto;
  max-width: 350px;
  padding:5px;
  width: 100%;
  animation: float 5s infinite;
  font-family: 'Trebuchet MS', sans-serif;

}

.pay_table_row{

  font-size:20px;

}


