/* time summary table */
.tables{

  border-radius: 15px;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 100px;
  margin: auto;
  max-width: 350px;
  padding:5px;
  width: 100%;
  animation: float 5s infinite;
  font-family: 'Trebuchet MS', sans-serif;
}
 
th {
  color:white;
  background:#A0D2EB;
  border-bottom:4px solid #f0f5ff;
  border-right: 1px solid #f0f5ff;
  font-size:23px;
  font-weight: 100;
  padding:15px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #f0f5ff;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  font-family: 'Trebuchet MS', sans-serif;
  
}
 
tr:hover td {
  background:#a88fcc;
  color:#FFFFFF;
  border-top: 1px solid #f0f5ff;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#a88fcc;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:20px;
  border-right: 1px solid #f0f5ff;
  font-family: 'Trebuchet MS', sans-serif;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
