
.body{

  min-width: 1124px;;
}

/* header */
.full-time-header{
  height:150px;
}

.full-time-title{

  font-size:48px;
  text-align:center;
  font-family: 'Trebuchet MS', sans-serif;
  color:#272933;


}
.fulltime-form-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height:600px;
  background-color:white;
  
}


/* buttons */


.button-container{
  position:relative;
}

.back-button{

  background-color: #BD9DEA;
  left:27em;
  box-shadow: inset 0px 0px 3px#a287c9;



}

.home-button{

  background-color: #A0D2EB;
  left:34em;
  box-shadow: inset 0px 0px 3px #8cb8ce;


  
}

.home-button, .back-button{
  border:none;

  border-radius: 10px;
  top:-0.5em;
  position: absolute;
  color: #3e4150;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  outline:none;
}

.back-button:hover{

  background-color: #7A77B9;
  color:white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.103), 0 3px 10px 0 rgba(0, 0, 0, 0.096);
}

.home-button:hover{

  background-color: #1f4d8a;
  color:white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.103), 0 3px 10px 0 rgba(0, 0, 0, 0.096);
}

.back-button:active{

  background-color: #298dff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 2px 0 rgba(0, 0, 0, 0.089);
}

.home-button:active{

  background-color: #29ff9b;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11), 0 2px 2px 0 rgba(0, 0, 0, 0.089);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* inline form */
* {box-sizing: border-box;}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-left:160px;
  padding-top:50px;

}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  width:160px;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
    width:200px;
    
  }
  
  .form-inline {
    flex-direction: row;
    align-items: stretch;
    padding-top: 20px;
    padding-left: 20px;
  }
}


.output_hours{

  padding-top:20px;
  padding-bottom:20px;


}

/* worktime-range */

.time-range-container{
padding-top:50px;
position:relative;
padding-left:120px;
display: block;
}

.time-range-time{
  text-align: center;
}

.time-range{

  position:absolute;
  width:250px;
  display:inline-block;
}



.time-range p {
font-family: "Arial", sans-serif;
font-size: 14px;
color: #333;
}


/* specific hours of each type of work*/'

.worktype_row_container{

  display:inline-block;
  
}

.worktype{
  position:absolute;
  width:250px;
  top:500px;

}


  /* grids */

.top_grid{

  padding-left:20px;
  padding-top:30px;

}


