.name_select_reminder,.work_select_reminder,.hour_select_reminder{

    font-size: 12px;
    color: red;
}

.purplebut{
    height: 40px;
    grid-column: 3 / 5;
    /* border: 2px solid #4829ad; */
    border-radius: 2px;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    /* font-size: 18pt; */
    background-color: var(--background-blue);
}

.purplebut:hover:enabled{

    background-color: var(--dark-blue);


}