/* ROOT STYLES */
:root {
  --background-purple: #b099ff;
  --dark-purple: #321c77;
  --accent-purple: #9bd2ff;
  --background-blue: #91ecff;
  --dark-blue: #2163ff;
  --background-red: #ff7c7c;
  --dark-red: #a00303;
  --background-green: #8aff84;
  --dark-green: #0f771b;

  font-family: Verdana, sans-serif;
  font-size: 18pt;
}

/* BODY STYLES */

body {
  background-color: var(--background-purple);
  margin: 0;
}

button {
  height: 100%;
  width: 100%;
  background-color: white;
  border: 2px solid #4829ad;
  border-radius: 2px;
  transition-duration: .25s;
  -webkit-transition-duration: .25s;
  font-size: 18pt;

}
button:hover {
  background-color: var(--dark-purple);
  color: white;
}
.green-button {
  background-color: var(--background-green);
}
.green-button:hover {
  background-color: var(--dark-green);
}
.red-button {
  background-color: var(--background-red);
}
.blue-button {
  background-color: var(--background-blue);
}
.blue-button:hover {
  background-color: var(--dark-blue);
}


    /* HEADER STYLES */
    header {
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
    }
    h1 {
      margin-left: 10px;
    }

    nav {
      margin-top: 45px;
      width: 30vw;
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
    }

    nav > * {
      width: 30%;
    }

    #home-button {
      height: 3em;
      width: 100%;
    }



    /* MAIN CONTENT STYLES */

    .main-content-header {
      margin-left: 7%;
      margin-bottom: 0;
      margin-top: 2vh;
    }

    .main-content-div {
      margin-left: 15%;
      margin-right: 15%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    .main-content-div > * {
      margin-top: 8vh;
      height: 30vh;
      width: 20vw;
    }
    .main-content-div > form {
      height: 75vh;
    }


        /* FORM STYLES */

        .main-form {
          display: flex;
          flex-flow: column wrap;
          justify-content: space-around;
          max-height: 75vh;
          margin-left: 8%;
          margin-top: 5vh;
        }
        .small-form {
          max-height: 35vh
        }

        .full-page-form {
          margin-left: 4%;
          max-height: 115vh;
        }

        .main-form > * {
          max-width: 300px;
        }
        .main-form > p {
          margin-bottom: 3px;
        }
        .main-form > button {
          margin-bottom: 1vh;
        }
        input {
          height: 30px;
        }
        input[type='checkbox' i] {
          transform: scale(2);
        }
        input[type='time'] {
          width: 90px;
        }
        input[type='submit'] {
          height: 40px;
          border: 2px solid #4829ad;
          border-radius: 2px;
          transition-duration: .25s;
          -webkit-transition-duration: .25s;
          font-size: 18pt;
          background-color: var(--background-blue);
        }
        input[type='submit']:hover {
          background-color: var(--dark-blue);
          color: white;
        }
        label {
          font-size: 12pt;
        }


    /* SCHEDULE DISPLAY STYLES */

    .schedule-display {
      margin: 0;
      margin-top: 3vh;
      display: grid;
      grid-template-columns: 5px 1fr 115px 175px 275px 275px 250px 130px 300px 1fr 5px;
    }
    .schedule-display > * {
      border: 1px solid black;
      margin: 0;
      padding-left: 8px;
      padding-top: 5px;
      height: 25vh;
      font-size: 15pt;
    }
    .schedule-time {
      grid-column: 3;
    }
    .schedule-event-type {
      grid-column: 4;
    }
    .schedule-staff {
      grid-column: 5;
    }
    .schedule-volunteers {
      grid-column: 6;
    }
    .schedule-horse-info {
      grid-column: 7;
    }
    .schedule-clients {
      grid-column: 8;
    }
    .schedule-lesson-plan {
      grid-column: 9;
    }
